<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Assign {{ user.name }}</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        {% load static %} <img src="{% static "/media/logo.png" %}" alt="logo" class="navbar-brand" height="300"/>"
        <div class="navbar-header">
            <p class="navbar-brand" style="color:#FFC107">UWM TA Scheduler Application</p>
        </div>
        <form class="navbar-form navbar-right" action="/home/" method="post">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Log Out">
        </form>
        <form class="navbar-form navbar-right" action="/profile/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="My Account">
        </form>
        {% if request.session.role == 'ADMIN' or request.session.role == 'INSTRUCTOR' %}
            <form class="navbar-form navbar-right" action="/courses/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Courses">
        </form>
        <form class="navbar-form navbar-right" action="/sections/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Sections">
        </form>
        {% endif %}
        <form class="navbar-form navbar-right" action="/users/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Users">
        </form>
        <form class="navbar-form navbar-right" action="/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Home">
        </form>
    </div>
</nav>

<div class="container-fluid">
    <h1 class="jumbotron text-center" style="background-color: white">Choose a section to assign {{ user.name }} to</h1>
    <form class="form-horizontal" action="/assignTa/{{ user.id }}/" method="post">
        {% csrf_token %}
        <label class="control-label col-sm-5">Unassigned sections: </label>
        <div class="col-sm-3">
        {% if length > 0 %}
            <select class="form-control" name="section" id="section">
                 {% for section in sections %}
                     <option value={{ section.SectionId }}>{{section}}</option>
                 {% endfor %}
            </select>
        {% else %}
            <h1>There are no unassigned sections at this moment</h1>
        {% endif %}
        </div>
         <div class="form-group">
            <div class="align-middle col-sm-offset-5 col-sm-1"><input class="form-control" type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>

</body>
</html>