<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Create Section</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        {% load static %} <img src="{% static "/media/logo.png" %}" alt="logo" class="navbar-brand" height="300"/>"
        <div class="navbar-header">
            <p class="navbar-brand" style="color:#FFC107">UWM TA Scheduler Application</p>
        </div>
        <form class="navbar-form navbar-right" action="/home/" method="post">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Log Out">
        </form>
        <form class="navbar-form navbar-right" action="/profile/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="My Account">
        </form>
        {% if request.session.role == 'ADMIN' or request.session.role == 'INSTRUCTOR' %}
            <form class="navbar-form navbar-right" action="/courses/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Courses">
        </form>
        <form class="navbar-form navbar-right" action="/sections/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Sections">
        </form>
        {% endif %}
        <form class="navbar-form navbar-right" action="/users/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Users">
        </form>
        <form class="navbar-form navbar-right" action="/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Home">
        </form>
    </div>
</nav>

<div class="container-fluid">
    <h1 class="jumbotron text-center" style="background-color: white">Create a New Course Section</h1>
    <form class="form-horizontal" action="/new_section/" method="post">
        {% csrf_token %}
{#        <div class="form-group">#}
{#            <label class="control-label col-sm-5">Section Id:</label>#}
{#            <div class="col-sm-3"><input class="form-control" type="text" id="id" name="SectionId"></div>#}
{#        </div>#}
        <div class="form-group">
            <label class="control-label col-sm-5">Course</label>
            <div class="col-sm-3">
                <select class="form-control" name="course" id="course" required>
                 {% for course in courses %}
                     <option value={{ course.CourseId }}>{{ course.name }}</option>
                 {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-5">Section Number:</label>
            <div class="col-sm-3"><input class="form-control" type="text" pattern="[0-9]*" id="number" name="number" required></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-5">Section type:</label>
            <div class="col-sm-3">
                <select class="form-control" name="type" id="type" required>
                 <option value="LEC">LEC</option>
                 <option value="LAB">LAB</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-5">Faculty: </label>
            <div class="col-sm-3">
                <select class="form-control" name="faculty" id="faculty">
                <option value={{ null }}>None</option>
                 {% for user in users %}
                     {% if user.role == "TA" or user.role == "INSTRUCTOR" or user.role == "Instructor"%}
                         <option value={{ user.email }}>{{ user.name }}</option>
                     {% endif %}
                 {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="align-middle col-sm-offset-5 col-sm-1"><input class="form-control" type="submit" value="Submit"></div>
        </div>
    </form>
</div>

</body>
</html>