<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Create Course</title>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand" style="color:#FFC107">UWM TA Scheduler Application</p>
    </div>
    <form class="navbar-form navbar-right" action="/Profile/" method="get">
        <input class="btn btn-warning" type="submit" value="My Account">
    </form>
    <form class="navbar-form navbar-right" action="/Login/" method="post">
        <input class="btn btn-warning" type="submit" value="Log Out">
    </form>
  </div>
</nav>

<div class="container-fluid">
    <h1 class="jumbotron text-center" style="background-color: white">Create a New Course</h1>
    <form class="form-horizontal" action="/createCourse/" method="post">
        <div class="form-group">
            <label class="control-label col-sm-5">Course Name:</label>
            <div class="col-sm-3"><input class="form-control" type="text" id="courseName"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-5">Course Instructor:</label>
            <div class="col-sm-3"><input class="form-control" type="text" id="courseInstructor"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-5">Course Location:</label>
            <div class="col-sm-3"><input class="form-control" type="text" id="courseLocation"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-5">Course Time:</label>
            <div class="col-sm-3"><input class="form-control" type="text" id="courseTime"></div>
        </div>
        <div class="form-group">
            <div class="align-middle col-sm-offset-5 col-sm-1"><input class="form-control" type="submit" value="Submit"></div>
        </div>
    </form>
</div>

</body>
</html>