<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Edit Section</title>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand" style="color:#FFC107">UWM TA Scheduler Application</p>
    </div>
    <form class="navbar-form navbar-right" action="/Profile/" method="get">
        <input class="btn btn-warning" type="submit" value="My Account">
    </form>
    <form class="navbar-form navbar-right" action="/Login/" method="post">
        {% csrf_token %}
        <input class="btn btn-warning" type="submit" value="Log Out">
    </form>
  </div>
</nav>

<div class="container-fluid">
    <h1 class="jumbotron text-center" style="background-color: white">Edit Course Section</h1>
    <form class="form-horizontal" action="/editSection/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-5">Section Number:</label>
            <div class="col-sm-3"><input class="form-control" type="text" value={{sectionNumber}} id="sectionNumber" name="sectionNumber"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-5">Section Instructor/TA:</label>
            <div class="col-sm-3"><input class="form-control" type="text" value={{teacher}} id="teacher" name="teacher"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-5">Section Type:</label>
            <div class="col-sm-3"><input class="form-control" type="text" value={{sectionType}} id="sectionType" name="sectionType"></div>
        </div>
        <div class="form-group">
            <div class="align-middle col-sm-offset-5 col-sm-1"><input class="form-control" type="submit" value="Save"></div>
        </div>
    </form>
</div>

</body>
</html>