<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Home</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand" style="color:#FFC107">UWM TA Scheduler Application</p>
        </div>
        <form class="navbar-form navbar-right" action="/profile/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="My Account">
        </form>
        <form class="navbar-form navbar-right" action="" method="post">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Log Out">
        </form>
        <form class="navbar-form navbar-right" action="/users/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Users">
        </form>
    </div>
</nav>

<div class="container-fluid" style="text-align:center">
    <div>
        <h1>Current assignments </h1>
        <table class="table table-bordered table-hover">
            <thead>
            <th>TA:</th>
            <th>Assigned to:</th>
            </thead>
            <tbody>
            {% for i in users %}
                {% if i.role == "TA" %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ User.getTa }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>