<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body style="background-color:cornflowerblue">

<div class="jumbotron text-center" style="background-color:cornflowerblue">
  <h1>UWM TA Scheduling<br>Application</h1>
</div>

<div class="container-fluid" style="text-align:center">
  <form>
    <label for="username">Username: </label>
    <input type="text" id="username"><br>
    <label for="password">Password: </label>
    <input type="text" id="password"><br>
    <input class="btn-lg" type="submit" value="Log In">
  </form>
</div>

</body>
</html>