<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Login</title>
</head>
<body style="background-color:#FFC107">

<div class="jumbotron text-center" style="background-color:#FFC107">
  <h1>UWM TA Scheduling<br>Application</h1>
</div>

<div class="container-fluid" style="text-align:center">
  <form action = "" method="post">
      {% csrf_token %}
    <label for="email">Email: </label>
    <input type="text" id="email" name="email"><br>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password"><br>
    <input class="btn-lg" type="submit" value="Log In">
  </form>
</div>

<div class="container" style="text-align: center">
      {% if messages %}
        {% for message in messages %}
            <br>
            {{ message }}
        {% endfor %}
      {% endif %}

    </div>

</body>
</html>