<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Profile</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand" style="color:#FFC107">UWM TA Scheduler Application</p>
        </div>
        <form class="navbar-form navbar-left" action="/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Home">
        </form>
        <form class="navbar-form navbar-right" action="/home/" method="post">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Log Out">
        </form>
        <form class="navbar-form navbar-right">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Admin">
        </form>
    </div>
</nav>

<div class="container-fluid" style="text-align:left">
    <div class="row">
        <h1>This is the profile page for {{ user.name }}</h1>
        <ul>
            <li>
                <p> ID: {{ user.id }}</p>
            </li>
            <li>
                <p> Name: {{ user.name }}</p>
            </li>
            <li>
                <p> Email: {{ user.email }}</p>
            </li>
            <li>
                <p> Phone: {{ user.phone }}</p>
            </li>
            <li>
                <p> Address: {{ user.address }}</p>
            </li>
            <li>
                <p> Office Hours: {{ user.officeHours }}</p>
            </li>
            <li>
                <p> Role: {{ user.role }}</p>
            </li>
        </ul>
    </div>
</div>

</body>
</html>