<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>View Courses</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand" style="color:#FFC107">UWM TA Scheduler Application</p>
        </div>
        <form class="navbar-form navbar-right" action="/profile/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="My Account">
        </form>
        <form class="navbar-form navbar-right" action="" method="post">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Log Out">
        </form>
        <form class="navbar-form navbar-right" action="/users/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Users">
        </form>
        <form class="navbar-form navbar-right" action="/sections/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Sections">
        </form>
        <form class="navbar-form navbar-right" action="/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Home">
        </form>
    </div>
</nav>

<div class="container-fluid">
    <h1 style="text-align: center">Courses</h1>
    <form class="form-horizontal" action="/viewCourses/" method="get">
        <div class="form-group">
            <label class="control-label col-sm-4">Search:</label>
            <div class="col-sm-4"><input placeholder="Not implemented yet" class="form-control" type="text" id="query"
                                         name="query"></div>
        </div>
    </form>
    <div style="display:flex; justify-content: center">
        <form action="/new_course" method="get">
            {% csrf_token %}
            <input class="btn" style="background: forestgreen; color:white" type="submit" value="+ Add new course">
        </form>
    </div>
    <div class="col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
            <th>Course</th>
            <th>Name</th>
            <th>Sections:</th>
            <th></th>
            </thead>
            <tbody>
            {% for i in courses %}
                <tr>
                    <td>
                        {{ i.subject }} {{ i.number }}
                    </td>
                    <td>{{ i.name }}</td>
                    <td>
                        <table>
                            <tbody>
                            {% for section in i.section_set.all %}
                            <tr>
                                <td>
                                    {{ section }}
                                {% endfor %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                            <form style="text-align: start" action="/confirmDeleteCourse/{{ i.CourseId }}/" method="get">
                                {% csrf_token %}
                                <button type="submit" STYLE="color:white; background: darkred">
                                    {% load bootstrap_icons %}
                                    {% bs_icon 'trash' %}
                                </button>
                            </form>
                            <form style="text-align: start" action="/edit_course/{{ i.CourseId }}/" method="get">
                                {% csrf_token %}
                                <button type="submit" STYLE="color:white; background: goldenrod">
                                    {% load bootstrap_icons %}
                                    {% bs_icon 'pencil' %}
                                </button>
                            </form>
                        </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>