<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>View Sections</title>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      {% load static %} <img src="{% static "/media/logo.png" %}" alt="logo" class="navbar-brand" height="300"/>"
        <div class="navbar-header">
            <p class="navbar-brand" style="color:#FFC107">UWM TA Scheduler Application</p>
        </div>
        <form class="navbar-form navbar-right" action="/profile/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="My Account">
        </form>
        <form class="navbar-form navbar-right" action="" method="post">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Log Out">
        </form>
        <form class="navbar-form navbar-right" action="/users/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Users">
        </form>
      <form class="navbar-form navbar-right" action="/courses/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Courses">
        </form>
      <form class="navbar-form navbar-right" action="/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Home">
        </form>
    </div>
</nav>

<div class="container-fluid">
    <h1 style="text-align: center">Sections</h1>
    <form class="form-horizontal" action="/viewCourses/" method="get">
        <div class="form-group">
            <label class="control-label col-sm-4">Search:</label>
            <div class="col-sm-4"><input placeholder="Not implemented yet" class="form-control" type="text" id="query"
                                         name="query"></div>
        </div>
    </form>
    <div style="display:flex; justify-content: center">
       <form action="/new_section" method="get">
            {% csrf_token %}
            <input class="btn" style="background: forestgreen; color:white" type="submit" value="+ Add new section">
        </form>
    </div>
    <div class="col-sm-12">
        <table class="table table-bordered table-hover">
        <thead>
            <th>Section:</th>
            <th>Course:</th>
            <th>Section Type:</th>
            <th>Faculty:</th>
        </thead>
        <tbody>
            {% for i in sections %}
            <tr>
                <td>
                    <form style="text-align: start" action="/sections/{{ i.SectionId }}/" method="post">
                            {% csrf_token %}
                            <button type="submit" STYLE="color:white; background: darkred"> - </button>
                        {{ i.course.subject }} {{ i.course.number }}-{{ i.number }}
                    </form>
                </td>
                <td>{{ i.course.name }}</td>
                <td>{{ i.type }}</td>
                <td>
                    {% if i.faculty %}
                    {{ i.faculty.name }}
                    {% else %}
                    <p>No faculty member assigned</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

</body>
</html>