<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>View Sections</title>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand" style="color:#FFC107">UWM TA Scheduler Application</p>
    </div>
    <form class="navbar-form navbar-right" action="/Profile/" method="get">
        <input class="btn btn-warning" type="submit" value="My Account">
    </form>
    <form class="navbar-form navbar-right" action="/Login/" method="post">
        <input class="btn btn-warning" type="submit" value="Log Out">
    </form>
  </div>
</nav>

<div class="container-fluid">
    <form class="form-horizontal" action="/viewCourses/" method="get">
        <div class="form-group">
            <label class="control-label col-sm-4">Search:</label>
            <div class="col-sm-4"><input class="form-control" type="text" id="query"></div>
        </div>
    </form>

    <div class="col-sm-12">
        <table class="table table-bordered table-hover">
        <thead>
            <th>Course:</th>
            <th>Section Number:</th>
            <th>Teacher:</th>
            <th>Section Type:</th>
        </thead>
        <tbody>
            {% for i in sections %}
            <tr>
                <td>{{ i.course }}</td>
                <td>{{ i.number }}</td>
                <td>{{ i.teacher }}</td>
                <td>{{ i.type }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

</body>
</html>