<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>View Users</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        {% load static %} <img src="{% static "/media/logo.png" %}" alt="logo" class="navbar-brand" height="300"/>"
        <div class="navbar-header">
            <p class="navbar-brand" style="color:#FFC107">UWM TA Scheduler Application</p>
        </div>
        <form class="navbar-form navbar-right" action="/profile/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="My Account">
        </form>
        <form class="navbar-form navbar-right" action="" method="post">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Log Out">
        </form>
        <form class="navbar-form navbar-right" action="/courses/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Courses">
        </form>
        <form class="navbar-form navbar-right" action="/sections/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Sections">
        </form>
        <form class="navbar-form navbar-right" action="/" method="get">
            {% csrf_token %}
            <input class="btn btn-warning" type="submit" value="Home">
        </form>
    </div>
</nav>

<div class="container-fluid">
    <h1 style="text-align: center">Users</h1>
    <form class="form-horizontal" action="/viewCourses/" method="get">
        <div class="form-group">
            <label class="control-label col-sm-4">Search:</label>
            <div class="col-sm-4"><input placeholder="Not implemented yet" class="form-control" type="text" id="query"
                                         name="query"></div>
        </div>
    </form>
    <div style="display:flex; justify-content: center">
       <form action="/new_user" method="get">
            {% csrf_token %}
            <input class="btn" style="background: forestgreen; color:white" type="submit" value="+ Add new user">
        </form>
    </div>
    <div class="col-sm-12">
        <table class="table table-bordered table-hover">
            <thead>
            <th>Name:</th>
            <th>Role:</th>
            <th>UWM Email:</th>
            <th>Office Phone:</th>
            <th>Office Address:</th>
            </thead>
            <tbody>
            {% for i in users %}
                <tr>
                    <td style="text-align: left">
                        <form style="text-align: start" action="/confirmDeleteUser/{{ i.id }}" method="get">
                            {% csrf_token %}
                            <button type="submit" STYLE="color:white; background: darkred"> - </button>
                            {{ i.name }}
                        </form>
                    </td>
                    <td>{{ i.role }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.phone }}</td>
                    <td>{{ i.address }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>